@{
    ViewBag.Title = "Home Page";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<style>
    body {
        background: #ffffff;
    }

    img {
        height: 20%;
        width: 100%;
    }

    #myCarousel {
        margin-top: 10%;
        height: 30%;
    }

    li {
        list-style: none;
    }

    td {
        font-size: 10px;
    }

    #wrapper {
        position: relative;
        top: 35px;
        margin-left: 3%;
        margin-top: 3%;
    }

    .carousel-indicators {
        position: absolute;
        top: 90%;
        left: 43%;
        z-index: 5;
        margin: 0;
        list-style: none;
    }

    .carousel-inner {
        overflow: hidden;
        width: 100%;
        position: relative;
        border: none;
    }

    .exchange {
        text-align: center;
        line-height: 1px;
        width: 100%;
        display: inline;
    }

    .list-block {
        position: absolute;
        margin-top: 2%;
    }

    .span1 {
        width: 100%;
        margin-left: -3%;
    }

    .sui-row {
        margin-left: 5%;
    }

    .exchangeli {
        width: 25%;
        float: left;
        text-align: center
    }

    .page, .page-group {
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background: white;
    }

    .carousel-control {
        background: none;
        border: none;
        color: none;
    }
</style>
<div id="wrapper">
    <div id="cell">
        <i style="color:#0894ec" class="sui-icon icon-volume-down"></i>
        <marquee style="color:#8e8e8e;font-size: 10px;position: absolute;top: 4px;" scrolldelay=150 width=180 behavior=scroll direction=left align=middle><span>弹来弹去跑马灯!</span> <span>点我有惊喜!</span></marquee>
        <i class="sui-icon icon-tb-refund" style="color:#fac603;float:right;margin-right: 3%; margin-top: 1%;">&nbsp;<span style="font-size: 14px;color:black">我的积分</span>&nbsp;<span style="color:#f3b23a;font-size:14px;">0</span></i>
    </div>
</div>
<div class="card-container">
    <div class="card">
        @* 此处为轮播图展示 *@
        <div id="myCarousel" data-ride="carousel" data-interval="2000" class="sui-carousel slide">
            <ol class="carousel-indicators">
                @{
                    List<IntegralGO.Backstage_RotationChart> rotationcharts = ViewData["chartlist"] as List<IntegralGO.Backstage_RotationChart>;
                    for (int i = 0; i < rotationcharts.Count; i++)
                    {
                        if (i == 0)
                        {
                            <li data-target="#myCarousel" data-slide-to="@i" class="active"></li>
                        }
                        else
                        {
                            <li data-target="#myCarousel" data-slide-to="@i"></li>
                        }
                    }
                }
            </ol>
            <div class="carousel-inner">
                @{
                    for (int i = 0; i < rotationcharts.Count; i++)
                    {
                        if (i == 0)
                        {
                            <div class="active item">
                                <a href="//@rotationcharts[i].jumpAdress"><img style="height:150px;border-radius: 10px; " src="~/Img/@rotationcharts[i].path" /></a>
                            </div>
                        }
                        else
                        {
                            <div class="item">
                                <a href="//@rotationcharts[i].jumpAdress"><img style="height:150px;border-radius: 10px; " src="~/Img/@rotationcharts[i].path" /></a>
                            </div>
                        }
                    }
                }

            </div>
            <a data-target="#myCarousel" style="z-index:99999" data-slide="prev" class="carousel-control left">‹</a><a data-target="#myCarousel" data-slide="next" class="carousel-control right">›</a>
        </div>
    </div>
</div>
<div class="grid-demo" style="width:100%">
    <p style="font-size:15px;margin-left: 3%;font-weight: bold;width: 94.5%;">
        热门兑换
        <input style="float:right;border-radius: 25px 0px 0px 25px;background-color:#f3b23a" type="button" class="sui-btn btn-warning" value="我的福利" />
    </p>
    <div class="sui-row">
        <div class="span1">
            @{
                List<dynamic> commodities = ViewData["commoditieslist"] as List<dynamic>;
                foreach (var item in commodities.Take(4))
                {
                    <ul class="exchange">
                        <li class="exchangeli">
                            <img style="width: 50px;height: 50px;" src="~/Img/@item.commoditiePath" />
                            <span style="font-size:12px;text-align:center; display: block;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;">@item.commoditieName</span>
                            <span style="text-align:center;color:#e1ad35; display: block;font-size:10px">@item.useIntegral 积分</span>
                            <a class="sui-btn btn-small btn-warning" style="text-align:center;border-radius:20px;background-color:#faf2dd;border:0;color:#9d8d69" href="~/Home/CommoditiePage?commonid=@item.id">去兑换</a>
                        </li>
                    </ul>
                }
            }
        </div>
    </div>
</div>

<div class="list-block">
    <p style="font-size:15px;margin-left: 3%;font-weight: bold;">实时兑换</p>
    @{
        foreach (var item in commodities)
        {
            <table class="sui-table table-bordered" style="margin: 10px;width:95%;border: none;">
                <tr>
                    <td width="50%" style="border: none;">
                        <div class="typographic">
                            <img style="width:50px;height:50px;" src="~/Img/@item.commoditiePath" />
                            <ul class="unstyled" style="background-color:transparent;text-align:left;">
                                <li><strong>@item.commoditieName</strong></li>
                                <li style="font-size:10px;color:#8e8e8e">@item.Ctitle</li>
                                <li style="color:#fac603">@item.useIntegral 积分</li>
                            </ul>
                        </div>
                    </td>
                    <td rowspan="2" width="1%" class="center" style="border: none;"><a href="~/Home/CommoditiePage?commonid=@item.id"><input style="float:right;border-radius: 25px;background-color:#f3b23a" type="button" class="sui-btn btn-warning" value="去兑换" /></a></td>
                </tr>
            </table>
        }
    }
    <div class="item-media" style="margin-top:10%"><i class="icon icon-f7"></i></div>
</div>
